{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Basket</h3>
{% if basket|length == 0%}     

<div class="row">
    <div class="card-panel">
        You dont have any items in your basket at the moment, 
        Go to <a href="{{ url_for('get_store') }}">Store</a>?
    </div>
</div>
{%else%}
<ul class="collection">
    {% for item in basket %}
        <li class="collection-item avatar">
            {% if item.get("image_url", None) %}
                <img src="{{item.image_url}}" alt="" class="circle">
            {% else %}
                <i class="material-icons circle red">play_arrow</i>
            {% endif %}
            <span class="title"><b>{{item.name}} - £{{item.cost}}</b></span>
            <p>
                {{item.type}}
                <br>
                {{item.description}}
            </p>
            
            <a href="{{ url_for('remove_basket', product_id=item._id) }}" class="secondary-content">Remove from basket<i class="material-icons">grade</i></a>

        </li>
    {% endfor %}
</ul>
<div class="card-panel">
    <!-- username -->
    <div class="row">
        total price: {{"%.2f"|format(totalCost)}}
    </div>
    <div class="row">
        current balance: {{"%.2f"|format(balance)}}
    </div>

<!-- Modal Trigger -->
{%if totalCost <= balance%}
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Buy!</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal .modal-close">
        <div class="modal-content">
            <h4>Confirm Purchase</h4>
            <p>Are you sure you want to buy {%if basket| length == 1%} this item {%else%} these {{basket|length}} items {%endif%} 
                for <b>£{{totalCost}}</b>?
            </p>
            <p>
                This will bring your total balance to £{{"%.2f"|format(balance-totalCost)}}
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="{{url_for('purchase_all')}}" class="modal-close waves-effect waves-green btn">Buy!</a>
        </div>
    </div>
{%else%}

you can't afford the contents of your basket currently, please either 
deposit into your <a href="{{ url_for('get_user', username=session['user']) }}">user balance</a>  or remove items from your basket

{%endif%}
    </div>
<br> 
{%endif%}
{% endblock %}

{% block scripts %} 
  <script>
  $(document).ready(function(){
    $('.modal').modal();
  });</script>
{% endblock %}