{% extends "base.html" %}
{% block content %}
<ul class="collection">
    {% for item in shop %}
        {% for i in range(0,3) %}
        <li class="collection-item avatar">
            {% if item.get("image", None) %}
                <img src="{{item.image}}" alt="" class="circle">
            {% else %}
                <i class="material-icons circle red">play_arrow</i>
            {% endif %}
            <span class="title">{{item.name}}</span>
            <p>{{item.type}}<br>
                {{item.description}}
            </p>
            
            <a href="#!" class="secondary-content">ADD TO BASKET<i class="material-icons">grade</i></a>
        </li>
        {% endfor %}
    {% endfor %}
</ul>
{% endblock %}
